{% extends 'base.html' %}



{% block content %}
<div class="container py-5">
    <h2> What is Spot of The Day?</h2>
    <p> Spot of The day is a site that encourages students to engage with their green spaces on around campus to help
        them form connections with them and therefore look after them.</p>
    <h2> How is the Spot Chosen?</h2>
    <p> Spots are randomly selected daily from our database of potential Spots but the Spot will never be the same two
        days in a row.</p>
    <h2> How do I engage with the Spot?</h2>
    <p> Once you are within 50m of the spot you can click the "I'm Here" button on the home page. Here you can rate the
        spot from 1-5 based on how clean it is and this will also increase your total score and add to your streak if
        you have one going! <br>
        You are also encouraged to meet new people when at the Spot of The Day to help build our community and so you
        can get to know like-minded individuals who care about their green campus.</p>
    <h2> What is the point of my Score? </h2>
    <p> Your score has two uses. The first is for your garden on your profile page. This is your own Spot which you can
        see change as your streak increases over time to watch it go from a empty garden to one full of wildlife and
        nature <br>
        The second and more important use is for the leaderboard. We have two leaderboard, Streak and Total. Streak is
        for seeing who can visit the Spots the most consistently. Going to the spot multiple days in a row will
        increase your streak! Your total is a count of the total number of times you have visited any Spot of The
        Day so for our more casual users, this leaderboard is for you.</p>

    <h2> How do I find the Spot?</h2>
    <p> clicking on the 'Find Spot' page will take you to our compass which will show you how far you are from
    the Spot and which direction it is. You will know you are facing the right way when the arrow turns green! <br>
    If you would rather have a set path to follow you can also click the 'Google Maps' button to locate the Spot
    in Google Maps</p>

    <h2> How do I customize myself on the leaderboards?</h2>
    <p> Clicking on your profile picture on the profile page will allow you to choose from 9 avatars and many different
    titles allowing you to display yourself on the leaderboard however you want.</p>
</div>
{% endblock content %}