{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}


<!-- author Benjamin --->
{% block style %}
    <style>
        .page_container {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .flip-card {
          background-color: transparent;
          width: 33.75vh;
          height: 45vh;
          perspective: 1000px;
        }

        .flip-card-inner {
          position: relative;
          width: 100%;
          height: 100%;
          text-align: center;
          transition: transform 0.6s;
          transform-style: preserve-3d;
          box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
          border-radius: 10px;
          border: solid 1px green;
          cursor: pointer;
        }

        .flip-card-clicked .flip-card-inner {
          transform: rotateY(180deg);
        }

        .flip-card-front, .flip-card-back {
          position: absolute;
          width: 100%;
          height: 100%;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }

        .flip-card-front {
          background-color: #bbb;
          color: black;
        }

        .flip-card-front img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            border: solid 1px green;
            box-shadow: 0px 0px 10px 5px #285430;
        }

        .flip-card-back canvas {
            border-radius: 10px;
            border: solid 1px green;
            box-shadow: 0px 0px 10px 5px #285430;
        }

        .flip-card-back {
            transform: rotateY(180deg);
        }

        .flip-card-inner.active {
          transform: rotateY(180deg);
        }

        .image_container {
            position: absolute;
            top: 0;
            left: 0;
            height: 50%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .fact_container{
            align-content: center;
            text-align: center;
        }

    .text_container {
        position: absolute;
        top: 50%;
        height: 20%;
        width: 90%;
        align-content: center;
        text-align: center;
        padding-bottom: 5%;

    }

    .button_container {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 27%;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }



    .here_button, .spot_button {
        background-color: #198754;
        color: white;
        height: 15%;
        width: 30%;
        border: none;
        top: 10px;
        border-radius: 5px;
    }

        .here_button {
            position: absolute;
            left: 10%;
        }

        .spot_button {
            position: absolute;
            right: 10%;
        }

        .spot_button:disabled {
            color: grey;
        }

        div.stars {
            width: 100%;
            display: inline-block;
        }

        input.star {
            display: none;
        }

        label.star {
            float: right;
            padding: 10px;
            font-size: 33px;
            color: #444;
            transition: all .2s;
        }

        label.star.star-1 {
            padding-right: 15%;
        }

        input.star:checked ~ label.star:before {
            content: '\f005';
            color: #FD4;
            transition: all .25s;
        }

        input.star-1:checked ~ label.star:before {
            color: #FE7;
            text-shadow: 0 0 20px #952;
        }

        input.star-5:checked ~ label.star:before {
            color: #F62;
        }

        label.star:hover {
            transform: rotate(5deg) scale(1.3);
        }

        label.star:before {
            content: '\f006';
            font-family: FontAwesome;
        }

        .modal-dialog{
            width: 96.5%;
            height: 100%;
            top: 25%;
        }

    </style>
{% endblock style %}

{% block script %}
    <!-- author Benjamin and Rhys --->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const targetLatitude = {{ spot_latitude }};
        const targetLongitude = {{ spot_longitude }};
        const maxDistance = 50; // Radius to be within of the spot
        /**
         * Calculates the distance in meters the user is from the spot
         * @param position Lat and Long of the User
         * @param {number} targetLat Latitude of the spot
         * @param {number} targetLng Longitude of the spot
         * @returns {number} Distance in meters
         */
        function distance(position, targetLat, targetLng) {

            const R = 6371000; // Earth's radius in meters
            const lat1 = position.coords.latitude; // current latitude of user
            const lng1 = position.coords.longitude; // current longitude of user
            const lat2 = targetLat;
            const lng2 = targetLng;
            const dLat = (lat2 - lat1) * Math.PI / 180;
            const dLng = (lng2 - lng1) * Math.PI / 180;
            const a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                Math.cos(lat1 * Math.PI / 180) * Math.cos(lat2 * Math.PI / 180) *
                Math.sin(dLng / 2) * Math.sin(dLng / 2);
            const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
            const distance = R * c;
            return Math.round(distance);
        }

        /**
         * Begins the collection of GPS data
         */
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.watchPosition(checkLocation, handleError); // Current GPS location data call
            } else { // if error
                document.getElementById("here_button").disabled = true;
                alert("Geolocation is not supported by this browser.");
            }
        }

        /**
         * Checks to see if user is within a specified radius of the spot
         * @param position
         */
        function checkLocation(position) {
            dist_out = distance(position, targetLatitude, targetLongitude)
            if (dist_out > maxDistance) {
                // Set button to show distance away from spot
                document.getElementById("here_button").innerHTML = dist_out + 'm';
                // Disable button from being pressed and adding points to leaderboard
                document.getElementById("here_button").disabled = true;
            } else {
                document.getElementById("here_button").innerHTML = "I'm here!";
                document.getElementById("here_button").disabled = false;
            }
        }

        /**
         * This function handles errors related to GeoLocation
         * @param error
         */
        function handleError(error) {
            switch (error.code) {
                case error.PERMISSION_DENIED:

                    alert("User denied the request for Geolocation.");
                    break;
                case error.POSITION_UNAVAILABLE:
                    alert("Location information is unavailable.");
                    break;
                case error.TIMEOUT:
                    alert("The request to get user location timed out.");
                    break;
            }
        }

        // Begins location script
        getLocation();

        window.onload = function() {
        document.getElementById('flip-card').addEventListener('click', function() {
          this.classList.toggle('active');
        });


        const ctx = document.getElementById('bar')
        const labels = ['9:00','10:00','11:00','12:00','13:00','14:00','15:00','16:00']
        const dataValues = [3.5,4.2,3.3,2.5,1.3,1.2,2.1,2.6,3.6,3.9,4.3]
        const bar_ctx = document.getElementById('bar').getContext('2d')
        new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Star rating throughout the day',
                data: {{ spot_data }},
                barPercentage: 1.25,
                backgroundColor:  {{ colours|safe }},
                borderWidth: 1,
            }]
        },
        options: {
            plugins: {
                legend: {
                    display: false,
                },
                tooltips: {
                    enabled: false,
                }
            },
            scales: {
                y: {
                    beginAtZero: true,
                    title: {
                        text: "Stars",
                        display: true,
                    },
                    max: 5,
                    grid: {
                        display: false,
                    }
                },
                x: {
                    title: {
                        text: "Time",
                        display: true,
                    },
                    grid: {
                        display: false,
                    }
                },
            }
        }
    });
    };


    </script>





{% endblock script %}

<!--- block that will add the body content into base.html --->
{% block content %}
<div class="page_container">
    <div class="image_container">
            <div class="flip-card">
              <div class="flip-card-inner" id="flip-card">
                <div class="flip-card-front">
                    <img src="{{ file_path }}">
                </div>
                <div class="flip-card-back">
                  <canvas id="bar" style="width:100%;height:100%;background-color:#e0ddd6;"></canvas>
                </div>
              </div>
            </div>

    </div>
    <div class="text_container">
        <h1> {{ spot_name }}</h1>
        {{ spot_description }}
    </div>
    <div class="button_container">
        <div data-bs-toggle="modal" data-bs-target="#ratingModal">
            <button class="here_button" id="here_button">I'm Here!</button>
        </div>
        <button class="spot_button" onclick="window.location.href='/compass'">
            Find Spot
        </button>

    </div>

</div>

<div class="modal fade" id="ratingModal" tabindex="1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Rate how clean the Spot of The Day is!</h5>
            </div>
            <form action={% url 'score' %} method="POST">
            {% csrf_token %}
            <div class="modal-body">
                <div class="container">
                    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
                    <div class="stars">
                        <input class="star star-1" id="star-1" type="radio" name="star" value="5" required="required"/>
                        <label class="star star-1" for="star-1"></label>
                        <input class="star star-2" id="star-2" type="radio" name="star" value="4"/>
                        <label class="star star-2" for="star-2"></label>
                        <input class="star star-3" id="star-3" type="radio" name="star" value="3"/>
                        <label class="star star-3" for="star-3"></label>
                        <input class="star star-4" id="star-4" type="radio" name="star" value="2"/>
                        <label class="star star-4" for="star-4"></label>
                        <input class="star star-5" id="star-5" type="radio" name="star" value="1"/>
                        <label class="star star-5" for="star-5"></label>
                    </div>
                    <div class="fact_container">
                        <h3>Did you know:</h3>
                        <p>{{ fact }}</p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success">Rate</button>
            </div>
            </form>
        </div>
    </div>

</div>

{% endblock %}
