{% extends 'base.html' %}

{% block style %}
    <style>
        .btn-success{
            float: right;
        }
    </style>
{% endblock style %}

{% block content %}
<div class="container py-5">
    <h1>Privacy Policy for Exseed</h1>
    <h2>Introduction</h2>
    <p>This Privacy Policy is meant to help you understand what information we collect, why we collect it, and how you can update, manage, and delete your information. Exseed is an application that aims to bring students closer together on campus and promote sustainability and appreciation of our environment both on and around campus.</p>
    <p>Under The Data Protection Act 2018, you have the right to access information we store about you. These include:</p>
    <ul>
        <li>Be informed about how your data is being used.</li>
        <li>Access personal data.</li>
        <li>Have incorrect data updated.</li>
        <li>Have data erased.</li>
        <li>Stop or restrict the processing of your data.</li>
        <li>Data portability (allowing you to get and reuse your data for different services).</li>
        <li>Object to how your data is processed in certain circumstances.</li>
    </ul>

    <p>You are advised to read and understand the Data Protection Act 2018: <a href="https://www.gov.uk/data-protection">https://www.gov.uk/data-protection</a><p>

    <h2>Information Exseed collects</h2>

    <p>We want you to be aware of what information we are collecting from you and encourage raising any issues you have with this data.</p>
    <ul>
        <li>Personal information: We collect Name and email address.</li>
        <li>Usage Information: We collect data surrounding how you use the app, such as the number of days you check-in at the location.</li>
        <li>Device information: We may collect information from your device, such as your location and the type of device.</li>
    </ul>
    <h2>How Exseed uses your information</h2>

    <p>We use your information for the following purposes:</p>
    <ul>
        <li>Verify your account: We need to use your email to verify your account and make sure that it’s really you.</li>
        <li>Record your score: We need to record the days that you check-in to the spot of the day to give you a score on the leader board making the app enjoyable.</li>
        <li>Your Location: The application needs to know your location to verify when you are in the spot of the day and to help guide you to the spot.</li>
    </ul>
    <h2>Your choices regarding the information we collect</h2>
    <p>When you create an account, you consent to your data being stored on our systems. You also consent to data being collected to aid the running of the app. No personal information is collected that isn’t input by you.</p>

    <h2>Is your information shared?</h2>
    <p>No data you input into the Exseed website will be shared with anyone outside of the corporation. Other people, however, will be able to see your score on the Exseed leader board.</p>

    <h2>Keeping Your information secure</h2>
    <p>Exseed promises to do its upmost to keep your data secure and to avoid tampering or theft of data. If we detect a threat on our system, we will notify you and help guide you through the process to keep you safe and secure.</p>

    <p>At Exseed, we take various measures to keep your data secure. These include:</p>
    <ul>
        <li>Encrypting data as it is sent between your device and our servers.</li>
        <li>Using email verification to prevent anyone but you are using your email address.</li>
    </ul>

    <h2>Deleting your information</h2>
    <p>If you want your information deleted from our servers, you can delete your account and all related data will be removed.</p>

    <h2>Changes to the privacy policy</h2>
    <p>We may make changes to this privacy policy in the future and will notify you if this happens by posting the updated version on our website.</p>

    <h3>Effective date: 11/3/2023</h3>
    <a href="/"><button class="btn btn-success">Home</button></a>

</div>
{% endblock content %}